In [1]:
import pymongo
mongo_client = pymongo.MongoClient("mongodb://localhost:27017/")

mongo_db_local = mongo_client["local"]
mongo_db_local.drop_collection("test")

mongo_col = mongo_db_local['test']

In [2]:
import random

random.randint(10,30)

16

In [3]:
mylist = [
  { "name": "Amy", "age":random.randint(10, 30), "address": "Apple st 652"},
  { "name": "Hannah", "age":random.randint(10, 30), "address": "Mountain 21"},
  { "name": "Michael", "age":random.randint(10, 30), "address": "Valley 345"},
  { "name": "Sandy", "age":random.randint(10, 30), "address": "Ocean blvd 2"},
  { "name": "Betty", "age":random.randint(10, 30), "address": "Green Grass 1"},
  { "name": "Richard", "age":random.randint(10, 30), "address": "Sky st 331"},
  { "name": "Susan", "age":random.randint(10, 30), "address": "One way 98"},
  { "name": "Vicky", "age":random.randint(10, 30), "address": "Yellow Garden 2"},
  { "name": "Ben", "age":random.randint(10, 30), "address": "Park Lane 38"},
  { "name": "William", "age":random.randint(10, 30), "address": "Central st 954"},
  { "name": "Chuck", "age":random.randint(10, 30), "address": "Main Road 989"},
  { "name": "Viola", "age":random.randint(10, 30), "address": "Sideway 1633"}
]

In [4]:
mylist

[{'name': 'Amy', 'age': 27, 'address': 'Apple st 652'},
 {'name': 'Hannah', 'age': 27, 'address': 'Mountain 21'},
 {'name': 'Michael', 'age': 13, 'address': 'Valley 345'},
 {'name': 'Sandy', 'age': 17, 'address': 'Ocean blvd 2'},
 {'name': 'Betty', 'age': 15, 'address': 'Green Grass 1'},
 {'name': 'Richard', 'age': 30, 'address': 'Sky st 331'},
 {'name': 'Susan', 'age': 13, 'address': 'One way 98'},
 {'name': 'Vicky', 'age': 28, 'address': 'Yellow Garden 2'},
 {'name': 'Ben', 'age': 20, 'address': 'Park Lane 38'},
 {'name': 'William', 'age': 25, 'address': 'Central st 954'},
 {'name': 'Chuck', 'age': 10, 'address': 'Main Road 989'},
 {'name': 'Viola', 'age': 12, 'address': 'Sideway 1633'}]

In [5]:
mongo_col.insert_many(mylist)

In [25]:
for x in mongo_col.find({"age":{"$gt":0}}).sort("age", 1):
    print(x)

{'_id': ObjectId('61ff26806ab013390bc77601'), 'name': 'Chuck', 'age': 10, 'address': 'Main Road 989'}
{'_id': ObjectId('61ff26806ab013390bc77602'), 'name': 'Viola', 'age': 12, 'address': 'Sideway 1633'}
{'_id': ObjectId('61ff26806ab013390bc775f9'), 'name': 'Michael', 'age': 13, 'address': 'Valley 345'}
{'_id': ObjectId('61ff26806ab013390bc775fd'), 'name': 'Susan', 'age': 13, 'address': 'One way 98'}
{'_id': ObjectId('61ff26806ab013390bc775fb'), 'name': 'Betty', 'age': 15, 'address': 'Green Grass 1'}
{'_id': ObjectId('61ff26806ab013390bc775fa'), 'name': 'Sandy', 'age': 17, 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61ff26806ab013390bc775ff'), 'name': 'Ben', 'age': 20, 'address': 'Park Lane 38'}
{'_id': ObjectId('61ff26806ab013390bc77600'), 'name': 'William', 'age': 25, 'address': 'Central st 954'}
{'_id': ObjectId('61ff26806ab013390bc775f7'), 'name': 'Amy', 'age': 27, 'address': 'Apple st 652'}
{'_id': ObjectId('61ff26806ab013390bc775f8'), 'name': 'Hannah', 'age': 27, 'address': 'Mountain 21'}
{'_id': ObjectId('61ff26806ab013390bc775fe'), 'name': 'Vicky', 'age': 28, 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61ff26806ab013390bc775fc'), 'name': 'Richard', 'age': 30, 'address': 'Sky st 331'}

In [7]:
cur = mongo_col.find({"age":{"$gt":13}}).sort("age", -1).skip(2)

In [10]:
cur.alive

True

In [19]:
def select(skip=2, limit=5):
    
    ret = []
    cur = mongo_col.find({"age":{"$gt":13}}).sort("age", -1).skip(skip)
    for i in range(limit):
        ret.append(cur.next())
        if not cur.alive:
            has_next= False
            break
        else:
            has_next= True
    
    return ret, has_next

In [22]:
ret, has_next = select(skip=4, limit=3)

for i in ret:
    print(i)
print(has_next)

{'_id': ObjectId('61ff26806ab013390bc77600'), 'name': 'William', 'age': 25, 'address': 'Central st 954'}
{'_id': ObjectId('61ff26806ab013390bc775ff'), 'name': 'Ben', 'age': 20, 'address': 'Park Lane 38'}
{'_id': ObjectId('61ff26806ab013390bc775fa'), 'name': 'Sandy', 'age': 17, 'address': 'Ocean blvd 2'}
True